body {

  font-family: 'Balsamiq Sans',
  cursive;
  /* font-family: 'Open Sans',
  sans-serif; */
}
.start{
  text-align: center;
}
.hide{
  display: none;
}
.game_area{
  z-index: 1;
  overflow: hidden;
  width: 300px;
  height: 500px;
  position: relative;
  margin: auto;
  background-color: #606060;
}
.car, .enemy{
  z-index: 3;
  position: absolute;
  left: 125px;
  bottom: 15px;
  width: 45px;
  height: 100px;
  background: transparent url('../image/lamb.png') center no-repeat;
  background-size: contain;
  border-radius: 20px;
  
}



.line {
  z-index: 1;
  position: absolute;
  width: 5px;
  height: 35px;
  background-color: #fff;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}

