body {

  font-family: 'Balsamiq Sans',
  cursive;
  /* font-family: 'Open Sans',
  sans-serif; */
}
.start{
  text-align: center;
}
.hide{
  display: none;
}
.game_area{
  width: 300px;
  height: 500px;
  position: relative;
  margin: auto;
  background-color: #606060;
}
.car{
  position: absolute;
  left: 125px;
  bottom: 15px;
  width: 45px;
  height: 100px;
  background: transparent url('../image/lamb.png') center no-repeat;
  background-size: contain;
  border-radius: 20px;
  
}